.bar {
    height: 42px;
    background: #fff;
    color: #212121;
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.14);
    z-index: 2;
    transition: 0.2s background;
}

.bar i {
    font-size: 22px;
    opacity: 0.6;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    float: left;
    margin-left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    transition: 0.2s all;
    -webkit-app-region: no-drag;
}

.searchInput {
    outline: none;
    border: none;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    position: absolute;
    left: 0;
    width: calc(100% - 48px);
    background-color: transparent;
}

.searchBox {
    width: calc(100% - 180px);
    position: relative;
    border-radius: 2px;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: left;
    transition: 0.2s background;
}


/*
left arrow icon
*/

.bar i:nth-child(1) {
    margin-left: 8px;
}


/*
menu icon
*/

.bar i:nth-child(5) {
    position: absolute;
    right: 8px;
    margin-left: 12px;
}

.bar i:hover {
    border-radius: 3px;
    transition: 0.3s all;
}
