.bar {
    height: 42px;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.14);
    transition: 0.2s background;
}

.searchInput {
    outline: none;
    border: none;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    position: absolute;
    left: 0;
    width: calc(100% - 48px);
    background-color: transparent;
}

.searchBox {
    width: calc(100% - 160px);
    position: relative;
    border-radius: 2px;
    margin-left: 13px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: left;
    transition: 0.2s background;
}

.bar-icon {
    width: 26px;
    height: 26px;
    float: left;
    transition: 0.3s background;
    margin-left: 8px;
    position: relative;
    top: 50%;
    opacity: 0.7;
    transform: translateY(-50%);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
}
.back {
    margin-left: 6px;
    background-image: url(../img/bar/back.png);
}
.forward {
    background-image: url(../img/bar/forward.png);
}
.refresh {
    background-image: url(../img/bar/refresh.png);
}
.menu-icon {
    float: right;
    margin-right: 8px;
    background-image: url(../img/bar/menu.png);
}
.bar-icon:hover {
    opacity: 1;
    transition: 0.3s background;
}
.white-icon {
    -webkit-filter: invert(100%);
}
