.bar {
    height: 42px;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.15);
    z-index: 99;
}

.bar i {
    font-size: 22px;
    color: #212121;
    opacity: 0.8;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    float: left;
    top: 50%;
    margin-left: 12px;
    transform: translateY(-50%);
    padding: 2px;
    transition: 0.3s all;
}

.searchInput {
    outline: none;
    border:none;
    float: left;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    position: relative;
    color: #212121;
    width: calc(100% - 64px);
}

.searchBox {
    width: calc(100% - 180px);
    float: left;
    position: relative;
    margin-left: 20px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.blur {
    -webkit-filter: blur(5px);
}

.bar i:nth-child(1) {
    margin-left: 8px;
}

.bar i:nth-child(5) {
    float: right;
    margin-right: 12px;
    margin-left: 12px;
}
.bar i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: 0.3s all;
}

.webview {
    position: relative;
    top: calc(42px);
}
