.bar {
    height: 42px;
    background: #2196F3;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
     box-shadow: 0 3px 6px rgba(0,0,0,0.13), 0 3px 6px rgba(0,0,0,0.17);
    z-index: 2;
}

.bar i {
    font-size: 22px;
    opacity: 0.6;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    float: left;
    margin-left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    transition: 0.2s all;
    -webkit-app-region: no-drag;
}

.searchInput {
    outline: none;
    border:none;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    position: absolute;
    left: 0;
    color: rgba(255, 255, 255, 0.75);
    width: calc(100% - 64px);
    background-color: transparent;
}

.searchBox {
    width: calc(100% - 180px);
    position: relative;
    border-radius: 2px;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    background-color: rgba(255,255,255,0.2);
    float: left;
}

.blur {
    -webkit-filter: blur(5px);
}

.bar i:nth-child(1) {
    margin-left: 8px;
}

.bar i:nth-child(5) {
    position: absolute;
    right: 8px;
    margin-left: 12px;
}
.bar i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: 0.3s all;
}

.webview {
    position: relative;
    top: calc(42px);
}

#extensions-iframe {
    display: none;
}
