.menu {
  width: 280px;
  min-height: 100px;
  max-height: 200px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  right: 8px;
  top: 38px; /*48*/
  z-index: 10;
  opacity: 0;
  display: none;
}
