.cards {
    width: 472px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 160px;
}

.cards .item {
    width: 172px;
    height: 96px;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}

.cards .item .icon {
    width: 32px;
    height: 32px;
    margin-top: -12px;
    position: absolute;
    user-select: none;
    -webkit-touch-callout: none;
     -webkit-user-select: none;
     pointer-events: none;
}

.cards .item .title {
    position: absolute;
    color: #ffffff;
    margin-top: 20px;
    user-select: none;
    text-align: center;
    user-select: none;
    -webkit-touch-callout: none;
     -webkit-user-select: none;;
}
