.cards {
    width: 472px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 160px;
}

.card-item {
    width: 172px;
    height: 96px;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}

.card-item .icon {
    width: 32px;
    height: 32px;
    margin-top: -12px;
    position: absolute;
    -webkit-user-select: none;
    pointer-events: none;
}

.card-item .title {
    position: absolute;
    margin-top: 20px;
    user-select: none;
    text-align: center;
    -webkit-user-select: none;
    font-size: 16px;
}

.card-item-test {
    position: relative;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
