@font-face {
    font-family: Roboto;
    src: url('../../global/fonts/Roboto.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../../global/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../../global/fonts/Roboto-Light.ttf');
}

html, body {
    height: 100%;
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto';
    background-color: #FAFAFA;
    color: #444;
}

.bgimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bookmarks {
    width: 472px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.bookmarks .item {
    width: 172px;
    height: 96px;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-bottom: 32px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}


/*.bookmarks .additem {
    width: 172px;
    height: 96px;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-bottom: 32px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}
.bookmarks .additem .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/icons/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;
    position: absolute;
    z-index: 2;
    filter: invert(100%);
}
.bookmarks .additem .bg {
    background-color: #444;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}*/

.additem {
    width: 64px;
    height: 64px;
    position: fixed;
    z-index: 10;
    bottom: 32px;
    right: 32px;
    border-radius: 100%;
    background-color: #3f51b5;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    transition: all 0.3s;
}

.additem:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

.additem .img {
    width: 100%;
    height: 100%;
    filter: invert(100%);
    background-image: url(../img/icons/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px 34px;
}

.bookmarks .item .icon {
    width: 32px;
    height: 32px;
    margin-top: -12px;
    position: absolute;
    user-select: none;
}

.bookmarks .item .title {
    position: absolute;
    color: #ffffff;
    margin-top: 20px;
    user-select: none;
    text-align: center;
}

.clear {
    clear: both;
}
