.menu {
    width: 280px;
    height: 386px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    right: 12px;
    top: 28px;
    /*48*/
    z-index: 10;
    opacity: 0;
    display: none;
}
.menu-items {
    width: 220px;
    list-style: none;
    padding: 0;
    font-size: 0;
    float: left;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
}
.divider {
    width: 1px;
    background-color: #eee;
    height: calc(100% - 16px);
    margin-top: 8px;
    float: left;
}
.extensions-items {
    padding: 0;
    margin: 0;
    height: 386px;
    position: absolute;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.extension {
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right: 9px;
    margin-left: 4px;
}
.menu-items li {
    max-width: 100%;
    height: auto;
    text-align: left;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
    padding-left: 60px;
    font-size: 14px;
    color: #212121;
    font-family: 'Roboto';
    transition: all 0.2s;
    -webkit-user-select: none;
    cursor: default;
}

.menu-items li:hover {
    background-color: #E0E0E0;
    transition: all 0.2s;
}

.menu-items li .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    position: absolute;
    opacity: 0.7;
}

.settings .icon {
    background-image: url(../img/menu/settings.png);
}

.history .icon {
    background-image: url(../img/menu/history.png);
}

.bookmarks .icon {
    background-image: url(../img/menu/bookmarks.png);
}

.downloads .icon {
    background-image: url(../img/menu/downloads.png);
}

.extensions .icon {
    background-image: url(../img/menu/extensions.png);
}

.fullscreen .icon {
    background-image: url(../img/menu/full_screen.png);
}

.devtools .icon {
    background-image: url(../img/menu/developer_tools.png);
}

.screenshot .icon {
    background-image: url(../img/menu/screen_shot.png);
}

.privacy .icon {
    background-image: url(../img/menu/privacy.png);
}
