.menu {
  width: 220px;
  min-height: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  right: 12px;
  top: 0px; /*48*/
  z-index: 10;
  opacity: 0;
  display: none;
  list-style: none;
  padding: 0;
}
.menu li {
  max-width: 100%;
  height: auto;
  text-align: left;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-left: 50px;
  font-size: 12px;
  font-family: 'Roboto';
  transition: all 0.3s;
  -webkit-user-select: none;
  cursor: default;
}
.menu li:hover {
  background-color: #E0E0E0;
  transition: all 0.3s;
}
.menu li .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  position: absolute;
  opacity: 0.7;
}
.settings .icon {
  background-image: url(../img/menu/settings.png);
}
.history .icon {
  background-image: url(../img/menu/history.png);
}
.bookmarks .icon {
  background-image: url(../img/menu/bookmarks.png);
}
.downloads .icon {
  background-image: url(../img/menu/downloads.png);
}
.extensions .icon {
  background-image: url(../img/menu/extensions.png);
}
.fullscreen .icon {
  background-image: url(../img/menu/full_screen.png);
}
.devtools .icon {
  background-image: url(../img/menu/developer_tools.png);
}
.screenshot .icon {
  background-image: url(../img/menu/screen_shot.png);
}
