@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}

html, body {
    height: 100%;
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto';
    background-color: #fff;
    /*#FAFAFA;*/
    color: #444;
}

.bookmarks {
    width: 360px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bookmarks a {
    width: 172px;
    height: 96px;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}

.bookmarks a .icon {
    width: 32px;
    height: 32px;
    margin-top: -12px;
    position: absolute;
    user-select: none;
}

.bookmarks a .title {
    position: absolute;
    color: #ffffff;
    margin-top: 20px;
    user-select: none;
}

.clear {
    clear: both;
}
