.tab-layout {
    width: 100%;
    height: 48px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}

.tab {
    float: left;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.tab-title {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13.5px;
    transition: 0.2s color;
}

.divider {
    height: 2px;
    bottom: 0;
    position: absolute;
}
