@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../../global/fonts/Roboto-Regular.woff2) format('woff2');
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    cursor: default;
}

.menu {
    background-color: white;
    width: 100%;
    max-height: calc(100vh - 60px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    padding-bottom: 8px;
    border-radius: 2px;
}

.menu-item {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    font-size: 13.5px;
    transition: 0.1s background-color;

    &:hover {
        background-color: #F5F5F5;
    }
}

.menu-items {
    margin-top: 8px;
}

.menu-separator {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.menu-toolbar {
    background-color: #03A9F4;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.icon {
    background-image: url(../../browser/img/bar/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    height: 100%;
    width: 48px;
    margin-left: 6px;
    position: relative;
    float: left;
    opacity: 0.6;
    transition: 0.2s opacity;
    top: 50%;
    -webkit-filter: invert(100%);
    transform: translateY(-50%);

    &:hover {
        opacity: 1;
    }
}

.icons {
    position: relative;
    height: 42px;
}

.border-bottom {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.menu-tabbar {
    height: 48px;
    width: 100%;
}

.menu-tab {
    width: calc(100% / 3);
    float: left;
}

.disabled-icon {
  pointer-events: none;
  opacity: 0.4;
}
