.suggestion {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  padding-left: 32px;
}

.suggestion-title {
  display: inline-block;
  color: #212121;
  margin-left: 5px;
}

.suggestion-url {
  display: inline-block;
  color: #03A9F4;
}
