.tab {
    -webkit-app-region: no-drag;
    height: 100%;
    background-color: white;
    position: absolute;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}
