.tab {
    -webkit-app-region: no-drag;
    height: 100%;
    background-color: white;
    position: absolute;
}

.tab-title {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 14px;
}

.tab-border {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: calc(100% - 8px);
    background-color: rgba(0,0,0,0.2);
}
