@mixin center-vertically($isRelative: false) {
   @if $isRelative{
    position: relative;
  }
  @else if {
    position: absolute;
  }
  top: 50%;
  transform: translateY(-50%);
}

.tab {
  -webkit-app-region: no-drag;
  height: 100%;
  background-color: white;
  position: absolute;
  transition: background-color 0.2s;
}

.tab-mask {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tab-title {
  @include center-vertically;
  left: 8px;
  font-size: 14px;
  white-space: nowrap;
  max-width: calc(100% - 48px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-favicon {
  @include center-vertically;
  width: 16px;
  height: 16px;
  left: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tab-border {
  @include center-vertically;
  width: 1px;
  height: calc(100% - 8px);
  background-color: rgba(0,0,0,0.2);
}

.tab-border2 {
  @include center-vertically;
  width: 1px;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.tab-close {
  @include center-vertically;
  right: 8px;
  background-image: url("../../global/img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 20px;
  height: 20px;
  transition: 0.2s opacity;
  opacity: 0.6;

  &:hover {
    transition: 0.2s opacity;
    opacity: 1;
  }
}

.tab-close-container {
  opacity: 0;
  transition: 0.1s opacity;
}
